@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

.avatar-bg-animate {
    background-size: 150%;
    animation: animateAvatarBg 8s ease infinite;
}

.lines-bg-animate:before {
    animation: animateLinesBg 30s linear infinite;
}

*::selection {
    background-color: rgb(218 89 149);
}

@keyframes animateAvatarBg {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 100%;
    }
}

@keyframes animateLinesBg {

    0% {
        background-position: 0 50%;
    }

    100% {
        background-position: 1000px 50%;
    }
}

@media (min-width: 768px) {
    .vertical-rl {
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
    
    .vertical-lr {
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
}

